      path: {{path}}     ({{pathLastModified}})
    backup: {{backupPath}} ({{backupPathLastModified}})
incomplete: [{{#theme.count}}{{incompleteTodoItemList.size}}{{/theme.count}}: {{#theme.incompleteBg}}{{#theme.bar}}{{incompleteTodoItemList.size}}{{/theme.bar}}{{/theme.incompleteBg}}]
  complete: [{{#theme.count}}{{completeTodoItemList.size}}{{/theme.count}}: {{#theme.completeBg}}{{#theme.bar}}{{completeTodoItemList.size}}{{/theme.bar}}{{/theme.completeBg}}]