{{#theme.header}}list{{/theme.header}}
{{#model.todoItemList.all}}
[{{#theme.count}}{{idx}}{{/theme.count}}] {{.}}
{{/model.todoItemList.all}}
{{>component/runtime}}
Showing: [{{#theme.count}}{{model.todoItemList.all.size}}{{/theme.count}}] of [{{#theme.count}}{{model.fileAfter.todoItemList.all.size}}{{/theme.count}}] items