{{#model}}
{{#theme.header}}todo:remove{{/theme.header}}
Removed: {{#removedItem}}{{>todo-item}}{{/removedItem}}
{{#theme.subHeader}}{{todoFilePath}}{{/theme.subHeader}}
Complete [{{#theme.count}}{{completeItems.size}}{{/theme.count}}: {{#theme.complete}}{{#theme.bar}}{{completeItems.size}}{{/theme.bar}}{{/theme.complete}}]
Incomplete [{{#theme.count}}{{incompleteItems.size}}{{/theme.count}}: {{incompleteBar}}]
{{/model}}